<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Create New Note</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body class="flex  min-h-screen bg-[#282828] text-gray-100">
    <div class="flex flex-col   justify-center items-center"><h1 class="text-3xl font-bold mt-[-35vw] ml-10 text-red-500"><%= fileName %></h1>
        <h1 class="text-xl font-bold mt-[5vw] ml-10 text-white"><%= content %></h1>
        
        </div>
        <div>
            <a href="/" class="fixed top-4 right-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg flex items-center">
                <i class="ri-home-line mr-2"></i>
                Home
            </a>
        </div>
    
</body>
</html>
